.menu{
    display: flex;
flex-direction: row;
    gap: 10px;
    background: lightblue;
    padding: 10px;
}

.menu a{
    background: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;

}

.container{
    display: grid;
    
}

.special{
    order: -1;
    background: lightgreen;
}

.item{
    flex: 1 1 80px;
    background: lightblue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
   gap: 16px;
   padding: 40px;
    background: #fafafa;
}

.card1{
    flex: 1 1 100px;
    
    height: 250px;
    width: 25px;
    
    
    border-radius: 20px;
    
    font-weight: 600;
}
.card2{
    flex: 1 1 100px;
    height: 250px;
    width: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}
.card3{
    flex: 1 1 100px;
    height: 250px;
    width: 25px;
    
    
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}
.card4{
    flex: 1 1 100px;
    height: 250px;
    width: 25px;
    
    
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}




