.navigation{/* navigation */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 136px;
    gap: 8px;
    
    width: 1440px;
    height: 80px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.logo-nav{/* logo + nav */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    margin: 0 auto;
    width: 485.57px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.move{/* move */

    position: absolute;
    width: 50.86px;
    height: 10.63px;
    left: 251.71px;
    top: 42.37px;
    
    color: #FD665E;
    }
.Arch{/* Arch */

    position: absolute;
    width: 45.74px;
    height: 15.62px;
    left: 249px;
    top: 30px;
    
    color: #FD665E;
    }
.nav-item{/* nav item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    
    width: 385px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.HIT{/* How it Works */

    width: 90px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #2C2C2C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.DG{/* Design Gallery */

    width: 100px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #2C2C2C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.ARH{/* Architects */

    width: 70px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #2C2C2C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    }
.ART{/* Articles */

    width: 53px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #2C2C2C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    }
.wrapper{/* wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    
    margin: 0 auto;
    width: 227.06px;
    height: 48px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.ic-search{/* ic-searhc */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    
    width: 30.06px;
    height: 30.06px;
    
    background: #F0F0F0;
    border-radius: 56px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.vector{/* Vector */

    width: 14.06px;
    height: 14.06px;
    
    background: #585858;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.SI{/* Sign In */

    width: 47px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #2C2C2C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.Button{/* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 24px;
    gap: 10px;
    
    width: 102px;
    height: 48px;
    
    background: #FD665E;
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    }
.SU{/* Sign Up */

    width: 54px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }

    
.hero{/* hero */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 136px;
    gap: 64px;
    
    width: 1440px;
    height: 864px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.BY{/* Build Your Dream House */

    width: 1168px;
    height: 192px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    /* or 96px */
    letter-spacing: -0.02em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .DH{
        color: #FD665E;
    }
.wrapper2{/* wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 1168px;
    height: 480px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
.content{/* content */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    margin: 0 auto;
    width: 305px;
    height: 174px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.text{/* 100% guaranteed build safe, comfortable and transparent with a project management for the best result */

    width: 305px;
    height: 78px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    letter-spacing: 0.01em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.button-h1{/* button-h1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    gap: 10px;
    
    width: 187px;
    height: 56px;
    
    background: #FD665E;
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.FC{/* Free Consultation */

    width: 123px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.img1{/* Image */

    margin: 0 auto;
    width: 765px;
    height: 480px;
    
    background: url(image.png);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }

    
.gallery{/* gallery */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 136px;
    gap: 40px;
    
    width: 1440px;
    height: 752px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    }
.tittle-button{/* title + button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 126px;
    
    width: 1168px;
    height: 120px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.text2{/* Build professional valuable room */

    margin: 0 auto;
    width: 535px;
    height: 120px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 124%;
    /* or 60px */
    letter-spacing: -0.02em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.wrapper3{/* wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    margin: 0 auto;
    width: 104px;
    height: 48px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.button-icon{/* button icon */

    width: 48px;
    height: 48px;
    
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.dc{/* dashicons:arrow-right-alt */

    position: absolute;
    width: 20px;
    height: 20px;
    left: 14px;
    top: 14px;
    
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
.vector2{/* Vector */

    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
    
    background: #FD665E;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
.button-icon2{/* button icon */

    width: 48px;
    height: 48px;
    
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.dc2{/* dashicons:arrow-right-alt */

    position: absolute;
    width: 20px;
    height: 20px;
    left: 14px;
    top: 14px;
    
    }
.vector3{/* Vector */

    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
    
    background: #FD665E;
    }
.wrapper4{/* wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    width: 1340px;
    height: 432px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.img2{/* img-01 */

    width: 305px;
    height: 432px;
    
    background: url(image.png);
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.img3{/* img-02 */

    width: 305px;
    height: 432px;
    
    background: url(image.png);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
.img4{/* img-03 */

    width: 305px;
    height: 432px;
    
    background: url(image.png);
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    }
.img5{/* img-04 */

    width: 305px;
    height: 432px;
    
    background: url(image.png);
    
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    }