h1{
    color: blue;
}
.p {
    margin-bottom: 30px;
}
.div {
    padding: 20px;
}
.menu a {
    display: inline-block;
    background: #2563eb;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s;
}

.project{
    border: 2px solid black;
    border-radius: 20px;

}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

       